.experience__container {
    display: grid;
}

.expereince__content {
    display: grid;
    background-color: var(--color-bg-variant);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.experience__details {
    width: max-content;
    border-radius: 2rem;
    padding: 0.3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--color-bg);
    transition: var(--transition);
}

.experience__details:hover {
    /* border: 1px solid var(--color-bg); */
    background-color: transparent;
}