nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.3rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(12px);
}

.animate_nav {
    animation: nav_animation 2s linear;
}

@keyframes nav_animation {

    /* from {
        left: 50%;
        transform: translate(-50%);
    }

    to {

        left: 80%;
        transform: translate(-80%);
        transform: rotate(-90deg);
        bottom: 15rem;
    } */
    from {
        transform: translateY(0em)
    }

    to {
        transform: translateY(3em)
    }


}


.animate_nav_icon {
    animation: navIconAnimation 2s linear;
}

@keyframes navIconAnimation {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}


nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.5);
}

nav a.active {
    background-color: var(--color-primary);
}